class BaseConfig:
    """Base configuration"""
    TESTING = False
    BCRYPT_LOG_ROUNDS = 12


class DevelopmentConfig(BaseConfig):
    """Development configuration"""
    SECRET_KEY = 'my_precious'
    SQLALCHEMY_DATABASE_URI = 'postgres://sg:sg@postgres_auth/sg'


class TestingConfig(BaseConfig):
    """Testing configuration"""
    SECRET_KEY = 'my_precious'
    SQLALCHEMY_DATABASE_URI = 'postgres://sg:sg@postgres_auth/sg'


class ProductionConfig(BaseConfig):
    """Production configuration"""
    SECRET_KEY = 'my_precious'
    SQLALCHEMY_DATABASE_URI = 'postgres://sg:sg@postgres_auth/sg'
